<html>
<head>
    <title>Thaihealth</title>
    <script src="/public/js/jquery-1.8.3.min.js"></script>
    <script src="/public/js/handlebars.js"></script>
    <script id="tb1" type="text/x-handlebars-template">
      <h2>b1</h2>
      {{#each data}}
        <h3>{{title}}</h3>
        <p>{{body}}</p>
      {{/each}}
    </script>
    <script id="tb2" type="text/x-handlebars-template">
      <h2>b2</h2>
      {{#each data}}
        <h3>{{title}}</h3>
      {{/each}}
    </script>
    <script id="tb3" type="text/x-handlebars-template">
      <h2>b3</h2>
    {{#each data}}
        <h3>{{body}}</h3>
      {{/each}}
    </script>
    <script id="tb4" type="text/x-handlebars-template">
      <h2>b4</h2>
    </script>
    <script id="tb5" type="text/x-handlebars-template">
      <h2>b5</h2>
    </script>
    <script>
function render(blockId, data) {
    var source = $('#t' + blockId).html();
    var template = Handlebars.compile(source);
    $('#' + blockId).html(template(data));
}

$(function() {
    $.ajax({
        url: '/home',
        type: 'get',
        async: true,
        success: function(data) {
            $('body').html(data)
        }
    });
});
    </script>
</head>
<body>
</body>
</html>